* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  }
  body {
      min-height: 100%;
      background-color: #ffffff;
  }

  h1 {
      letter-spacing: -1px;
  }

  .Qr {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .Qr > img{
    height: 20em;
  }

  a, h1{
    color: #D9303E;
    text-decoration: unset;
  }
  .login-root {
      background: #fff;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .loginbackground-gridContainer {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 64px);
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
  }
  
  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  .box-background--blue {
      background-color: #D9303E;
  }
  .box-background--white {
    background-color: #ffffff; 
  }
  .box-background--blue800 {
      background-color: #D98484;
  }
  .box-background--gray100 {
      background-color: #e3e8ee;
  }
  .box-background--cyan200 {
      background-color: #D98484;
  }
  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  
  .field input, .field select{
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  input[type="submit"] {
      background-color: #D9303E;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  rgb(217, 48, 62) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  a.ssolink {
      display: block;
      text-align: center;
      font-weight: 600;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }
  .listing a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
  }

  .warning {
    color: #9F6000;
    background-color: #FEEFB3;
    padding: 1em;
    margin: 0.5em 0;

  }
  
  .error {
    color: #D8000C;
    background-color: #FFBABA;
    padding: 1em;
    margin: 0.5em 0;
  }   
  .hidden{
    display: none;
  }
  .absolute-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}
  .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 20%;
    text-align: center;
  }
  
  .modal-content p{
    margin: auto;
  }
  .close {
    display: block;
    color: #aaaaaa;
    text-align: right;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #D8000C;
    text-decoration: none;
    cursor: pointer;
  }

  .confirm{
    background-color: #04AA6D;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  .modal-closed{
    display: none;
    opacity: 0;
    transition: opacity 3s linear;
  }
  .modal-shown{
    display: block;
    transition: opacity 3s linear;
  }

  .modal .modal-closed{
    opacity: 1;
  }

  select:disabled, input:disabled{
    background-color: rgb(223, 223, 223);
  }

  @media (max-width: 1250px) {
    .modal-content {
      background-color: #fefefe;
      display: grid;
      grid-auto-rows: 100px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 2fr 1fr;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;
      height: 20%;
      text-align: center;
      transition-duration: 0.4s;
    }
  }
  @media (max-width: 800px) {
    .modal-content {
      background-color: #fefefe;
      display: grid;
      grid-auto-rows: 100px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 2fr 1fr;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;
      height: 30%;
      text-align: center;
      transition-duration: 0.4s;
    }

    .Qr > img{
      height: 17em;
    }
    .padding-horizontal--48{
      padding: 48px 24px;
    }
  }
  